.list {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;

    .item {
        h3 {
            font-size: 3vmin;
        }

        p {
            font-size: 2vmin;
        }
    }
}

.sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;

    &>* {
        min-width: 60vw;
        padding: 0 5vw;
    }

    h2 {
        font-size: 2vmin;
        max-width: 400px;
    }
}