.sectionPin {
    height: auto;
    overflow: hidden;
    display: flex;
    left: 0;
}

.pin-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 50px 5vw;
}

@media screen and (min-width: 992px) {
    .sectionPin {
        height: 100vh;
    }
    .pin-wrap {
        height: 100vh;
        flex-wrap: nowrap;
        padding: 50px 0;
    }
}