.intro {
    width: 100%;
    height: auto;
    padding: 25vw 2vw 26vw;
    &__text {
        display: grid;
        align-content: center;
        padding: 00;
        height: 100%;

        p {
            font-size: 4.5vmin;
            line-height: 1.8;
            font-weight: 400;
        }
    }

    .image-wrapper {
        display: grid;
        align-items:  center;
        justify-items: center;
        width: 100%;
        height: auto;
    }

    .image-box {
        position: relative;
        width: 62%;
        padding-bottom: 82.25%;
        height: 0;
        // filter: grayscale(0.7) brightness(1.1);
        img {
                position: absolute;
                object-fit: cover;
                object-position: center top;
                width: 100%;
                height: 100%;
            }
    }
}

@media screen and (min-width: 576px) {
    .intro {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;
        padding: 0;
        &__text {
            padding: 0 1rem;
            p {
                font-size: 2.5vmin;
            }
        }
    }
}